<div class="container">

    <div class="row header">
        <h1>REGISTRATION NUMBERS</h1>
    </div>

    {{#if messages.info}}
    <div class="messages">
        <span>{{messages.info}}</span>
    </div>
    {{/if}}

    <p>Only CA,CJ and CY required in this app</p>

    <div class="row f1">
        <form action="/reg_numbers" method="POST">
            <input maxlength="10`" type="text" class="six columns" name="regName" placeholder="enter regnumber">

            <button type="submit" class="two columns btn ">Add</button>
        </form>
    </div>

    <div class="row f2">
        <form action="/reg_numbers" method="GET">
            <div class=" filter">
                <strong>Select Town:</strong>
                <select name="town" id="numbers" class=" tabs">
                    <option name='town' value="all">selectAll</option>
                    <option name='town' value="2">Bellville</option>
                    <option name='town' value="3">Paarl</option>
                    <option name='town' value="1">Cape Town</option>
                </select>
 <button type="submit" class=" btn">filter</button>
            </div>
            
                
           
        </form>
    </div>

    <div class="button btn">
        <a href="/clearAll" type="reset">Reset</a>
    </div>


    <hr>
    {{#each list}}
    {{!-- <li> --}}
    <div class="regNumbers">
        {{regnumbers}}
    </div>
    {{!-- </li> --}}
    {{/each}}


    {{#each filterEach}}
    {{!-- <li> --}}
    <div class="regNumbers">
        {{regnumbers}}
    </div>
    {{!-- </li> --}}
    {{/each}}
</div>