<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/registration_number.css">
</head>

<body>
    <div class="container">

        <div class="color">
            <h1>REGISTRATION NUMBERS</h1>
        </div>

        {{#if messages.info}}
        <div class="messages">
            <h2>{{messages.info}}</h2>
        </div>
        {{/if}}
        <br>
        <form action="/reg_numbers" method="POST">
            <input maxlength="10`" type="text" class="regNumberEntered" name="regName" placeholder="enter regnumber">
            <button type="submit" class="addRegNumber btn blue">Add</button>


            <div class="button">
                <a href="/clearAll"><button type="button" class="btn">Resert</button></a>
                {{!-- <a href="/clearAll" class="btn"type="button">Resert</a> --}}
            </div>
        </form>

        <form action="/reg_numbers" method="GET">
            <div class="filter">
                <strong>Select Town:</strong>

                <select name="town" id="numbers" class="tabs">
                    <option name='town' value="all">selectAll</option>
                    <option name='town' value="2">Bellville</option>
                    <option name='town' value="3">Paarl</option>
                    <option name='town' value="1">CapeTown</option>
                </select>

                <button type="submit" class="addRegNumber btn blue">filter</button>
            </div>

            <hr>
           
        </form>
        {{#each list}}
        {{!-- <li> --}}
        <div class="regNumbers">
            {{regnumbers}}
        </div>
        {{!-- </li> --}}
        {{/each}}
  

    {{#each filterEach}}
    {{!-- <li> --}}
    <div class="regNumbers">
        {{regnumbers}}
    </div>
    {{!-- </li> --}}
    {{/each}}
      </div>
</body>

</html>