/* body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  background-color: rgba(128, 128, 128, 0.377);
  padding-left: 35em;
  padding-right: 38em;

}

h1 {
  color: black;
}

.regNumberEntered {
  padding: 1.2em;
  border-radius: 1.2em;
  font-size: 2em;
  background-color: rgba(255, 255, 0, 0.76);
}



.blue {
  background-color: rgba(255, 255, 0, 0.767);
}

.message {
  height: 1em;
  font-weight: bold;
  color: crimson;
}


select[id=cars]{
    padding: 1.2em;
    width: 20%;
}
h2{
  color: red;
} */
body {
  background-image: url('../image/regiIMG.jpeg'),url('paper.gif');
  background-color: #cccccc;
  background-size: cover;
  background-repeat: no-repeat;
}

.header {
  text-align: center;
}
.messagesSuccess{
  color: green;

}
.header>h1 {
  font-size: 50px;
  font-weight: 900;
  color:rgba(255, 255, 0, 0.89);
}
.regNumbers {
  background-color: yellow;
  border: 0.3em solid;
  border-radius: 0.9em;
  padding: 1em;
  margin: 0.5em;
  width: 7em;
  text-align: center;
  font-weight: bold;
  float: left;
}

span {
  color: red;
}

input[type="text"] {
  border-radius: 15px;
  height: 60px;
}
.form{
  margin: 10px
}
.f1 {
  margin-bottom: 10px;
 
}
.f2{

  margin-bottom: 11px;
}
.btn {
 color: rgb(162, 32, 173);
  background-color: white;
}
a{
  color: black;
}
p{
  color:black;
  background-color: rgba(255, 255, 0, 0.89);
  font: 1.3em;
}
strong{
  color:black;
  background-color: rgba(255, 255, 0, 0.89);
  font-size: 1.2em;
}
