/* body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  background-color: rgba(128, 128, 128, 0.377);
  padding-left: 35em;
  padding-right: 38em;

}

h1 {
  color: black;
}

.regNumberEntered {
  padding: 1.2em;
  border-radius: 1.2em;
  font-size: 2em;
  background-color: rgba(255, 255, 0, 0.76);
}



.blue {
  background-color: rgba(255, 255, 0, 0.767);
}

.message {
  height: 1em;
  font-weight: bold;
  color: crimson;
}


select[id=cars]{
    padding: 1.2em;
    width: 20%;
}
h2{
  color: red;
} */
body {
  background-color: rgba(128, 128, 128, 0.842);
}

.header {
  text-align: center;
}

.header>h1 {
  font-size: 50px;
  font-weight: 900;
  color: yellow;
}
.regNumbers {
  background-color: yellow;
  border: 0.3em solid;
  border-radius: 0.9em;
  padding: 1em;
  margin: 0.5em;
  width: 7em;
  text-align: center;
  font-weight: bold;
  float: left;
}

span {
  color: red;
}

input[type="text"] {
  border-radius: 15px;
  height: 60px;
}

.f1 {
  margin-bottom: 10px;
  
}
.btn {
  border: rgb(255, 255, 0) 3px solid;
  /* background-color: white; */
}