
body{
  background-image: url('../image/regiIMG.jpeg'),url('paper.gif');
  background-color: #cccccc;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 1.9em;
}

.header {
  text-align: center;
}
.messagesSuccess{
  color: green;
}
.star{
  font-size: 1.10em;
  border: 0px;
}
.reg{
  margin-top: 17px;
}
.info{
  color: red;
}


.header>h1 {
  font-size: 50px;
  font-weight: 900;
  color:rgba(255, 255, 0, 0.89);
}
.regNumbers {
  background-color: yellow;
  border: 0.3em solid;
  border-radius: 0.9em;
  padding: 1em;
  margin: 0.5em;
  width: 7em;
  text-align: center;
  font-weight: bold;
  float: left;
}

input[type="text"] {
  border-radius: 15px;
  height: 60px;
}
.form{
  margin: 10px
}
.f1 {
  margin-bottom: 10px;
 
}
.f2{

  margin-bottom: 11px;
}
.btn {
 color: rgb(162, 32, 173);
  background-color: white;
}
a{
  color: black;
}
p{
  color:black;
  background-color: rgba(255, 255, 0, 0.89);
  font: 1.3em;
}
strong{
  color:black;
  background-color: rgba(255, 255, 0, 0.89);
  font-size: 1.2em;
}

